<?xml version="1.0"?>
<SettingsSave xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <devConsole>false</devConsole>
  <previousPilot>
    <Name>ShakeStear</Name>
  </previousPilot>
  <previousScenario>
    <ID />
    <cID />
    <Name>No Selection</Name>
  </previousScenario>
</SettingsSave>